In [86]:
import pandas as pd
import json

In [87]:
with open ('t20_json_files/t20_wc_match_summary.json') as f:
    data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head(30)

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
5,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
6,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
7,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
8,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
9,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
10,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837
11,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838
12,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
13,Afghanistan,England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840
14,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841
15,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
16,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843
17,South Africa,Zimbabwe,no result,NaN,Hobart,"Oct 24, 2022",T20I # 1844
18,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
19,England,Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846
20,Afghanistan,New Zealand,abandoned,NaN,Melbourne,"Oct 26, 2022",T20I # 1846a
21,Bangladesh,South Africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847
22,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
23,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849
24,Afghanistan,Ireland,abandoned,NaN,Melbourne,"Oct 28, 2022",T20I # 1849a
25,Australia,England,abandoned,NaN,Melbourne,"Oct 28, 2022",T20I # 1849b
26,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850
27,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851
28,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
29,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853

In [88]:
df_match.shape

(45, 7)

In [89]:
df_match.rename({'scorecard' :'match_id'}, axis=1, inplace=True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [90]:
df_match.loc[df_match.isnull()['margin'] == True]

,team1,team2,winner,margin,ground,matchDate,match_id
17,South Africa,Zimbabwe,no result,NaN,Hobart,"Oct 24, 2022",T20I # 1844
20,Afghanistan,New Zealand,abandoned,NaN,Melbourne,"Oct 26, 2022",T20I # 1846a
24,Afghanistan,Ireland,abandoned,NaN,Melbourne,"Oct 28, 2022",T20I # 1849a
25,Australia,England,abandoned,NaN,Melbourne,"Oct 28, 2022",T20I # 1849b

In [91]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

In [92]:
df_match.to_csv('t20_csv_files/dim_match_summary.csv', index = False)

**Batting Summary**

In [112]:
with open ('t20_json_files/t20_wc_batting_summary.json') as f:
    data = json.load(f)
    
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])

df_batting = pd.DataFrame(all_records)
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,NaN,31,16,2,2,193.75
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00

In [113]:
df_batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        699 non-null    object
 1   teamInnings  699 non-null    object
 2   battingPos   699 non-null    int64
 3   batsmanName  699 non-null    object
 4   dismissal    554 non-null    object
 5   runs         699 non-null    object
 6   balls        699 non-null    object
 7   4s           699 non-null    object
 8   6s           699 non-null    object
 9   SR           699 non-null    object
dtypes: int64(1), object(9)
memory usage: 54.7+ KB

In [114]:
df_batting.loc[df_batting['dismissal'].isnull() == True]

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,NaN,31,16,2,2,193.75
18,Namibia Vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,NaN,11,11,0,1,100.00
27,U.A.E. Vs Netherlands,U.A.E.,9,Karthik Meiyappan,NaN,0,0,0,0,-
28,U.A.E. Vs Netherlands,U.A.E.,10,Junaid Siddique,NaN,0,1,0,0,0.00
34,U.A.E. Vs Netherlands,Netherlands,6,Scott Edwards(c)â€,NaN,16,19,0,0,84.21
...,...,...,...,...,...,...,...,...,...,...
681,India Vs England,England,2,Alex Hales,NaN,86,47,4,7,182.97
690,Pakistan Vs England,Pakistan,9,Shaheen Shah Afridi,NaN,5,3,1,0,166.66
691,Pakistan Vs England,Pakistan,10,Haris Rauf,NaN,1,1,0,0,100.00
695,Pakistan Vs England,England,4,Ben Stokes,NaN,52,49,5,1,106.12
698,Pakistan Vs England,England,7,Liam Livingstone,NaN,1,1,0,0,100.00

In [115]:
df_batting['dismissal'].fillna('', inplace=True)
df_batting

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00

In [117]:
df_batting['out/not_out'] = df_batting['dismissal'].apply(lambda x: 'out' if len(x) > 0 else 'not_out')
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out

In [98]:
df_batting.drop('dismissal', axis=1, inplace=True)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out

**Cleaning up weird characters**

In [99]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€',''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0',''))
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out

In [100]:
df_batting['match_id'] = df_batting['match'].map(match_ids_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823

In [101]:
df_batting.to_csv('t20_csv_files/fact_batting_summary.csv', index = False)

**Bowling Summary**

In [102]:
with open ('t20_json_files/t20_wc_bowling_summary.json') as f:
    data = json.load(f)
    
    all_record_bowling = []
    for i in data:
        all_record_bowling.extend(i['bowlingSummary'])

df_bowling = pd.DataFrame(all_record_bowling)
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [103]:
df_bowling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        500 non-null    object
 1   bowlingTeam  500 non-null    object
 2   bowlerName   500 non-null    object
 3   overs        500 non-null    object
 4   maiden       500 non-null    object
 5   runs         500 non-null    object
 6   wickets      500 non-null    object
 7   economy      500 non-null    object
 8   0s           500 non-null    object
 9   4s           500 non-null    object
 10  6s           500 non-null    object
 11  wides        500 non-null    object
 12  noBalls      500 non-null    object
dtypes: object(13)
memory usage: 50.9+ KB

In [104]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head(30)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,Gerhard Erasmus,1,0,8,0,8.00,1,1,0,0,0,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,David Wiese,4,0,16,2,4.00,13,1,0,0,0,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,Bernard Scholtz,4,0,18,2,4.50,10,1,0,0,0,T20I # 1823
8,Namibia Vs Sri Lanka,Namibia,Ben Shikongo,3,1,22,2,7.33,6,3,0,0,0,T20I # 1823
9,Namibia Vs Sri Lanka,Namibia,JJ Smit,3,0,16,1,5.33,7,0,0,1,0,T20I # 1823
10,Namibia Vs Sri Lanka,Namibia,Jan Frylinck,4,0,26,2,6.50,10,0,2,1,0,T20I # 1823
11,U.A.E. Vs Netherlands,Netherlands,Fred Klaassen,4,0,13,2,3.25,18,0,0,3,0,T20I # 1825
12,U.A.E. Vs Netherlands,Netherlands,Tim Pringle,4,0,13,1,3.25,11,0,0,0,0,T20I # 1825
13,U.A.E. Vs Netherlands,Netherlands,Logan van Beek,2,0,19,0,9.50,5,0,2,1,0,T20I # 1825
14,U.A.E. Vs Netherlands,Netherlands,Bas de Leede,3,0,19,3,6.33,9,2,0,2,0,T20I # 1825
15,U.A.E. Vs Netherlands,Netherlands,Paul van Meekeren,4,0,21,0,5.25,11,1,0,0,0,T20I # 1825
16,U.A.E. Vs Netherlands,Netherlands,Roelof van der Merwe,3,0,19,1,6.33,7,0,1,0,0,T20I # 1825
17,U.A.E. Vs Netherlands,U.A.E.,Junaid Siddique,4,0,24,3,6.00,10,2,0,1,0,T20I # 1825
18,U.A.E. Vs Netherlands,U.A.E.,Basil Hameed,1,0,7,1,7.00,4,0,1,0,0,T20I # 1825
19,U.A.E. Vs Netherlands,U.A.E.,Aayan Afzal Khan,3,0,15,1,5.00,8,1,0,0,0,T20I # 1825
20,U.A.E. Vs Netherlands,U.A.E.,Karthik Meiyappan,4,0,22,1,5.50,11,2,0,0,0,T20I # 1825
21,U.A.E. Vs Netherlands,U.A.E.,Zahoor Khan,4,0,11,1,2.75,14,0,0,0,0,T20I # 1825
22,U.A.E. Vs Netherlands,U.A.E.,Zawar Farid,2.5,0,24,0,8.47,2,2,0,0,0,T20I # 1825
23,U.A.E. Vs Netherlands,U.A.E.,Kashif Daud,1,0,5,0,5.00,1,0,0,0,0,T20I # 1825
24,Scotland Vs West Indies,West Indies,Kyle Mayers,2,0,24,0,12.00,5,5,0,2,0,T20I # 1826
25,Scotland Vs West Indies,West Indies,Akeal Hosein,4,0,31,0,7.75,8,2,1,0,0,T20I # 1826
26,Scotland Vs West Indies,West Indies,Alzarri Joseph,4,0,28,2,7.00,9,3,0,2,0,T20I # 1826
27,Scotland Vs West Indies,West Indies,Obed McCoy,3,0,25,0,8.33,6,4,0,0,0,T20I # 1826
28,Scotland Vs West Indies,West Indies,Jason Holder,3,0,14,2,4.66,8,1,0,0,0,T20I # 1826
29,Scotland Vs West Indies,West Indies,Odean Smith,4,0,31,1,7.75,6,3,0,1,0,T20I # 1826

In [121]:
df_bowling.to_csv('t20_csv_files/fact_bowling_summary.csv', index = False)

**Players Information**

In [122]:
with open ('t20_json_files/t20_wc_player_info.json') as f:
    data = json.load(f)
    
df_players = pd.DataFrame(data[3:])
df_players.head()

,name,team,battingStyle,bowlingStyle,playingRole,description,input
0,Regis Chakabvaâ€,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva...",{}
1,Craig Ervine(c),Zimbabwe,Left hand Bat,Right arm Offbreak,Middle order Batter,Few people in Zimbabwe cricket circles were su...,{}
2,Sean Williams,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Middle order Batter,"Sean Williams is a bold, dynamic left-hand bat...",{}
3,Sikandar Raza,Zimbabwe,Right hand Bat,Right arm Offbreak,Batting Allrounder,Sikandar Raza's story isn't that of your every...,{}
4,Wessly Madhevere,Zimbabwe,Right hand Bat,Right arm Offbreak,Allrounder,NaN,{}

In [123]:
df_players.drop('input', axis=1, inplace=True)
df_players

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Regis Chakabvaâ€,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
1,Craig Ervine(c),Zimbabwe,Left hand Bat,Right arm Offbreak,Middle order Batter,Few people in Zimbabwe cricket circles were su...
2,Sean Williams,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Middle order Batter,"Sean Williams is a bold, dynamic left-hand bat..."
3,Sikandar Raza,Zimbabwe,Right hand Bat,Right arm Offbreak,Batting Allrounder,Sikandar Raza's story isn't that of your every...
4,Wessly Madhevere,Zimbabwe,Right hand Bat,Right arm Offbreak,Allrounder,NaN
...,...,...,...,...,...,...
214,Ebadot Hossain,Bangladesh,Right hand Bat,Right arm Fast medium,Bowler,Ebadat Hossain Chowdhury's journey from being ...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Rishabh Pantâ€,India,Left hand Bat,NaN,Wicketkeeper Batter,"A match-turning, swashbuckling batter-keeper i..."
218,Wellington Masakadza,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Bowler,NaN

In [124]:
df_players.loc[df_players['team'] == 'India']

,name,team,battingStyle,bowlingStyle,playingRole,description
178,KL Rahul,India,Right hand Bat,NaN,Opening Batter,"A tall, elegant right-hand batsman who can kee..."
179,Rohit Sharma(c),India,Right hand Bat,Right arm Offbreak,Top order Batter,"Languid and easy on the eye, Rohit Sharma owne..."
180,Virat Kohli,India,Right hand Bat,Right arm Medium,Top order Batter,India has given to the world many a great cric...
181,Suryakumar Yadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,Hard-hitting 360-degree batter Suryakumar Yada...
182,Axar Patel,India,Left hand Bat,Slow Left arm Orthodox,Bowling Allrounder,Left-arm spinner Axar Patel has been increasin...
183,Hardik Pandya,India,Right hand Bat,Right arm Medium fast,Allrounder,Hardik Pandya swears by living life king size ...
184,Dinesh Karthikâ€,India,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Not many would forget the sight of Dinesh Kart...
185,Ravichandran Ashwin,India,Right hand Bat,Right arm Offbreak,Bowling Allrounder,R Ashwin took the tricks and skills he learned...
186,Bhuvneshwar Kumar,India,Right hand Bat,Right arm Medium,Bowler,"At the time of his India debut in 2012, Bhuvne..."
187,Arshdeep Singh,India,Left hand Bat,Left arm Medium fast,Bowler,NaN
188,Mohammed Shami,India,Right hand Bat,Right arm Fast,Bowler,Mohammed Shami was India's leading fast bowler...
199,Deepak Hooda,India,Right hand Bat,Right arm Offbreak,Allrounder,"An allrounder who can bat in any position, Dee..."
217,Rishabh Pantâ€,India,Left hand Bat,NaN,Wicketkeeper Batter,"A match-turning, swashbuckling batter-keeper i..."

In [125]:
df_players['bowlingStyle'].fillna('', inplace=True)
df_players['description'].fillna('', inplace=True)
df_players.head()

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Regis Chakabvaâ€,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
1,Craig Ervine(c),Zimbabwe,Left hand Bat,Right arm Offbreak,Middle order Batter,Few people in Zimbabwe cricket circles were su...
2,Sean Williams,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Middle order Batter,"Sean Williams is a bold, dynamic left-hand bat..."
3,Sikandar Raza,Zimbabwe,Right hand Bat,Right arm Offbreak,Batting Allrounder,Sikandar Raza's story isn't that of your every...
4,Wessly Madhevere,Zimbabwe,Right hand Bat,Right arm Offbreak,Allrounder,

**Cleaning up weird characters**

In [126]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players.head()

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Regis Chakabva,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
1,Craig Ervine(c),Zimbabwe,Left hand Bat,Right arm Offbreak,Middle order Batter,Few people in Zimbabwe cricket circles were su...
2,Sean Williams,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Middle order Batter,"Sean Williams is a bold, dynamic left-hand bat..."
3,Sikandar Raza,Zimbabwe,Right hand Bat,Right arm Offbreak,Batting Allrounder,Sikandar Raza's story isn't that of your every...
4,Wessly Madhevere,Zimbabwe,Right hand Bat,Right arm Offbreak,Allrounder,

In [127]:
df_players.to_csv('t20_csv_files/dim_players_no_images.csv', index = False)